.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.leftContainer {
    width: 50%;
}

.leftContainer > img {
    height: 500px;
    width: fit-content;
}

.rightContainer {
    width: 50%;
    background-color: #8FB8AF; 
    padding: 20px;
}

@media screen and (max-width: 420px) {
    .bodyContainer {
        flex-direction: column;
    }

    .leftContainer,
    .rightContainer {
        width: 100%;
    }
}


.leftContainer > img {
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightContainer {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.rightContainer h2,
.rightContainer p {
    color: #1D3557;
}


.rightContainer {
    padding: 20px 30px;
}
